<div class="message-wrapper" ng-controller="MessagesController as msg">
  <div class="messages-title-bar">
    <h2>Messages Index</h2>
  </div>
  
  <nav>
    <ul>
      <li ng-class="{selected: msg.viewing === 'received'}" ng-click="msg.viewing = 'received'">Received</li>
      <li ng-class="{selected: msg.viewing === 'sent'}" ng-click="msg.viewing = 'sent'">Sent</li>
      <li ng-class="{selected: msg.viewing === 'all'}" ng-click="msg.viewing = 'all'">All</li>
    </ul>
  </nav>
  <section class="messages-box">
    <table ng-cloak>
      <% @messages.each do |m| %>

        <tr class="inbox-message-row <%= 'unread' if inbound?(m) && unread?(m) %>" ng-if="msg.viewing === '<%= direction(m) %>' || msg.viewing === 'all'">
          <td class="message-dir">
            <% if inbound?(m) %>
              <%= fa_icon 'arrow-right' %>
            <% else %>
              <%= fa_icon 'arrow-left' %>
            <% end %>
          </td>
          <td class="message-thumbnail-cell">
            <% if inbound?(m) %>
              <%= image_tag m.user.primary_profile_photo_thumb, class: "message-thumbnail" %>
            <% else %>
              <%= image_tag m.recipient.primary_profile_photo_thumb, class: "message-thumbnail" %>
            <% end %>  
          </td>
          <td>
            <% if inbound?(m) %>
              <h4 class="user-name"><%= m.user.display_name %> would like to kinect with you</h4>
            <% else %>
              <h4 class="user-name">You have sent a request to <%= m.recipient.display_name %></h4>
            <% end %>  
            
            <p class="message-preview"><%= m.body %></p>
          </td>
          <td class="message-actions">
            <!-- I'm pretty sick of nested 'if' statements, so I'm doing this in a more verbose way -->
            <% if m.has_been_accepted? %>
              <%= link_to fa_icon("comments-o"), chat_path(get_other_user(m)), class: 'interaction-request-button message' %>
            <% elsif outbound?(m) && m.queued? %>
              Message is Queued.
            <% elsif outbound?(m) %>
              Awaiting Reply.
            <% elsif inbound?(m) %>
              <%= form_for m, remote: true do |m| %>
                <div style="display: inline-block; margin: 0;">
                  <button name="message[status]" value="accept" class="interaction-request-button accept"><%= fa_icon("check") %></button>
                </div><div style="display: inline-block"> 
                  <button name="message[status]" value="reject" class="interaction-request-button block"><%= fa_icon("remove") %></button>
                </div>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </section> 

</div>  

