<!DOCTYPE html>
<html>
<head>
  <title>SeatYourself</title>
  <%= stylesheet_link_tag    "reset", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5rJijlVNzXz8DMrqe_8nC3wtQbjSzT8w&sensor=false">
    </script>
  <script src="//use.edgefonts.net/quicksand;hammersmith-one;lobster-two.js"></script> 

</head>
<body>
    
<canvas id="bgCanvas"></canvas>
<%= yield %>

</body>
</html>
