<!DOCTYPE html>
<html ng-app="kinected">
<head>
  <title>Kinected</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
<!--   <link href='http://fonts.googleapis.com/css?family=Lato|Raleway:700' rel='stylesheet' type='text/css'>
 -->
  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper with-sidebar">

  <%= render partial: 'layouts/sidebar_admin' %>

  <section>
    <%= render partial: 'layouts/flash_messages' %>


    <%= yield %>
    

    <%= render partial: 'layouts/footer' %>
    
  </section>
</div>
<!-- Render this partial everywhere on signed-in pages. -->
<%= render partial: 'layouts/update_seen_count' %>

<%= javascript_include_tag 'application' %>
</body>
</html>
