<!DOCTYPE html>
<html ng-app="kinected">
<head>
  <title>Kinected</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link href='http://fonts.googleapis.com/css?family=Lato|Raleway:700' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper with-sidebar">

  <%= render partial: 'layouts/mobile_header' %>

  <%= render partial: 'layouts/sidebar' %>

  <section class="chat-section">
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>


    <%= yield %>
    
    
  </section>
</div>
<!-- Render this partial everywhere on signed-in pages. -->
<%= render partial: 'layouts/update_seen_count' %>

<%= javascript_include_tag 'application' %>
</body>
</html>
