<div class="main-content" ng-controller="HomeController as home">

  <%= render partial: 'layouts/header' %>

  <%= render partial: 'layouts/nav' %>


  <%= render partial: 'projects' %>
  <%= render partial: 'skillset' %>
  <%= render partial: 'blog' %>
  <%= render partial: 'contact' %>

  
  <%= render partial: 'layouts/footer' %>
</div>