<div class="content-wrapper" ng-controller="AdminDaterController as dater">
  <div class="title"><h2>Pending Daters</h2></div>
  <div class="content-box no-padding modal">
  
    <table class="table">
      <tr>
        <th>User Info</th>
        <th>Contact Info</th>
        <th>Social Link</th>
        <th>Concierge Code</th>
        <th>Action</th>
      </tr>
      <% @trial_daters.each do |d| %>
        <tr>
          <td>
            Name: <%= "#{d.first_name} #{d.last_name}" %><br>
            Age:  <%= d.age %><br>
            <br>
            Started trial: <%= d.created_at.strftime("%A, %B %d, %Y") %>
          </td>
          <td>
            Email: <%= d.email %><br>
            Phone: 416.777.5757<br>
            Skype: <span class="none">Not Provided</span>
          </td>
          <td>
            <a href="http://www.twitter.com/theman">http://www.twitter.com/theman</a>
          </td>
          <td>
            <%= d.concierge.try(:display_name) %>
          </td>
          <td style="width: 130px;">
            <button class="interaction-request-button accept" ng-click="dater.approveModalToggle('<%= d.display_name %>')"><%= fa_icon("check") %></button><button class="interaction-request-button block"><%= fa_icon("remove") %></button>
          </td>
        </tr>
      <% end %>
    </table>

  <!-- Approval & Concierge selection modal -->
  <modal-dialog show='dater.approveModalShown'>
    
    <h3>Approve {{dater.selectedDater}}</h3>
    <p>Body text lorem ipsum dolor ipsum dolor sit sit possimus amet, consectetur adipisicing elit. Itaque, placeat, explicabo, veniam quos aperiam molestias eriam molestias molestiae suscipit ipsum enim quasi sit possimus quod atque nobis voluptas earum odit accusamus quibusdam.
    </p>

  </modal-dialog>

</div>


