<div class="blog-index-wrapper">
  <%= render partial: 'blog_header' %>

  <section class="index width-wrapper">
    <% @posts.each do |p| %>
      <div class="post">
        <!-- POST HEADER -->
        <%= link_to blog_post_path(p) do %>
          <% if p.images.any? %>
            <div class="post-header large" style="background-image: url('<%= p.images.first.src %>')">
              <h2 class="title"><%= p.title %></h2>   
              <div class="gradient"></div>
            </div>
          <% else %>
            <div class="post-header small">
              <h2 class="title"><%= p.title %></h2>   
            </div>
          <% end %>
        <% end %>

        <!-- POST DETAIL BAR -->
        <div class="post-detail-bar">
          <%= image_tag p.user.avatar.src, class: 'avatar' %>
          Written by <strong class="author"><%= p.author %></strong> on <%= nice_date(p.created_at) %>.

          <div class="min-read">
            <i class="icon icon-clock"></i>
            <%= pluralize p.min_read, 'minute' %> 
          </div>
        </div>

        <!-- POST CONTENTS -->
        <div class="post-contents">
          <%= display_snippet(p.content) %>
        </div>

        <!-- READ MORE -->
        <%= link_to "Continue Reading", blog_post_path(p), class: 'read_more' %>

        <div class="post-footer"></div>

      </div>
    <% end %>

    <quote class="red">Hello!</quote>
  </section>
</div>
